$body-font-family: 'Roboto' !default;
$body-font-size: 15px !default;
$body-font-color: #002d44 !default;

$body-bg: #fafbfb !default;

$box-shadow: 0 2px 6px 0 rgba(0, 45, 68, 0.1) !default;

$headings-font-family: 'Roboto' !default;
$headings-color: #002d44 !default;
